*{
margin:auto;
padding: auto;

}
.container{
    border: 2px solid rgb(209 203 203);
    height: 238px;
    margin: 24px 388px;
    background-color: rgb(209 203 203);
width: 397px;
}
#main{
   margin-top: 25px;
   margin-bottom: 20px;
   margin-left: 20px;
   font-size: 30px;
  }
hr{
    background-color: black;
}
p{
    margin-top: 18px;
    margin-bottom: 15px;
    margin-left: 27px;
}
button{
    color: aliceblue;
    background-color: blue;
    height: 24px;
    margin-left: 90px;
    border-radius: 2px;
    align-content: center;
}